@import "tailwindcss";

:root {
  --background: #f8f6f6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html, body {
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Mobil sağ boşluğu %90 çözer */
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Card hover flip efekt için */
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

@keyframes fill-right {
  0% { width: 0; }
  100% { width: 100%; }
}

.bg-animate-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #3b82f6;
  animation: fill-right 2s forwards;
  border-radius: 0.75rem;
}

.mask-fade {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
 

}
.mask-fade-portugal {
  mask-image: 
    linear-gradient(
      to bottom,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    ),
    linear-gradient(
    to right,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );

    
  mask-composite: intersect;
}

@media (max-width: 768px) {
  .edu-image {
    object-fit: cover; /* mobilde tam görünür */
    
  }
}


@keyframes toast-slide {
  0% {
    opacity: 0;
    transform: translateY(-10px) translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}

.animate-toast-slide {
  animation: toast-slide 0.25s ease-out;
}
