.card-rise-init {
  opacity: 0;
  transform: translate3d(0, 60px, 0); /* translateY(60px) yerine */
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  will-change: transform, opacity; /* Tarayıcıya önceden haber verir */
}

.card-rise-init.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}